body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 540px;
    background: #f8f8f8;
}

// @tailwind base;
@tailwind components;
@tailwind utilities;

.font-size-20 {
    font-size: 20px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-12 {
    font-size: 12px;
}
