
body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 540px;
    background: var(--van-background-color);
}

// @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --van-blue: #0e7490;
    --van-nav-bar-background-color: none;
}

.dark {
    --van-white: #1c1c1c;
    --van-black: #fff;
    --van-text-color: #fff;
    --van-border-color: #3e3e3e;
    --van-background-color: #000;
    --van-switch-node-background-color: #fff;
    --van-switch-background-color: #39393b;
    // --white: #222032;
    // --secondary: #807d96;
    // --light: #2a283b;
    // --dark: #dde1ec;
    // --gray-200: #353246;
    // --gray-300: #5b586e;
}
